/*import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


:root{
  --color-primary: rgb(1, 31, 75);
  --color-secondary: #03396c;
  --color-tertiary: #005b96;
  --color-quaternary: #6497b1;
  --color-quinary: #D1D1FF;
}

/* Basic fonts (Open Sans) body bg color */
body {
  font-family: 'Open Sans', sans-serif !important;
  color: var(--color-primary) !important;
}

/* Header fonts (Poppins) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
  color: var(--color-primary);
}
.bg-quinary{
  background-color:  var(--color-quinary);
}
.nav-bar{
  height: 60px !important;
}
.letter-capitalize:first-letter{
  text-transform: capitalize !important;
}
main {
	min-height: calc(100vh - 410px) !important;
}
.container{
  background-color: rgba(255, 255, 255, .8);
}
.header-image{
  height: 300px;
  background-image: url("../media/image//header.png");
}
.header-logo{
  max-width: 100px;
  margin: 80px 70px;
  background-color: rgba(255, 255, 255, .4);
}
a, 
input::-webkit-calendar-picker-indicator, 
#date, select,
.custom-btn {
  cursor: pointer;
}
a[disabled] {
  opacity: 0.5;
  cursor: not-allowed; 
}
.odds{
  background-color: var(--color-quaternary);
}
.evens{
  background-color: var(--color-quinary);
}
.wrapper:nth-child(odd){
  background-color: var(--color-quinary);
}
.wrapper:nth-child(even){
  background-color:white;
}
.small-ratings{
  color:#cecece;
}
.rating-color{
  color:#fbc634 !important;
  opacity: 1 !important;
}
option[disabled]{
  background-color: rgb(239, 236, 236);
}
.vh-100{
  width: 100vh !important;
}
.content_iframe
{
  display: flex;
  flex-flow: column;
  border: 1px;
}
.fluss_head_col
{
  background-color: #377dabb1;
}
.fluss_span
{
  background-color: rgba(112, 152, 181, 0.678);
}
.webshop-image{
  height: 200px;
  max-width: 100%;
  object-fit: scale-down;
}
.background-image{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../media/image/background.jpg);
}
.google-map-container{
  width: 90%;
  height: 300px;
  margin: 1.5rem 0;
}
.google-map{
  width: 100%;
  height: 100%;
}
