/*import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


:root{
  --color-primary: rgb(1, 31, 75);
  --color-secondary: #03396c;
  --color-tertiary: #005b96;
  --color-quaternary: #6497b1;
  --color-quinary: #D1D1FF;
}

/* Basic fonts (Open Sans) body bg image */
body {
    font-family: 'Open Sans', sans-serif !important;
    color: var(--color-primary) !important;
    background-image: url(../media/image/background.jpg);
}
/* Header fonts (Poppins) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
    color: var(--color-primary);
}
.bg-quinary{
  background-color:  var(--color-quinary);
}
.nav-bar{
  height: 60px !important;
}
.letter-capitalize:first-letter{
  text-transform: capitalize !important;
}
main {
	min-height: calc(100vh - 410px) !important;
}
.container{
  background-color: rgba(255, 255, 255, .8);
}
.header-image{
  height: 300px;
  background-image: url("../media/image//header.png");
}
.header-logo{
  max-width: 100px;
  margin: 80px 70px;
  background-color: rgba(255, 255, 255, .4);
}
a, input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
a[disabled] {
  opacity: 0.5;
  cursor: not-allowed; 
}
.odds{
  background-color: var(--color-quaternary);
}
.evens{
  background-color: var(--color-quinary);
}
.wrapper:nth-child(odd){
  background-color: var(--color-quinary);
}
.wrapper:nth-child(even){
  background-color:white;
}
.small-ratings{
    
  color:#cecece;
  
}
.rating-color{
  color:#fbc634 !important;
}
.star {
  display: inline-block;
  color: darkblue;
  cursor: pointer;
}
.star.selected {
  color: gold;
}
.star:hover {
  color: lightblue;
}





