main {
	min-height: calc(100vh - 420px) !important;
}
.header-image{
  height: 150px;
  background-image: url("../img/header.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}
.header-logo{
  max-width: 100px;
  margin: 80px 70px;
  background-color: rgba(255, 255, 255, .4);
}
.login-bg-img{
  height: 800px;
  background-image: url(../img/BackGroundHdImages/ppexels-photo-8014699.jpeg);
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.home-bg-img{
  height: 100%;
  background-image: url(../img/BackGroundHdImages/pexels-melissa-698907.jpg);
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
  box-sizing: border-box;
}
.contact-bg-img{
  height: 800px;
  background-image: url(../img/BackGroundHdImages/pexels-photo-3171770.jpeg);
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.cart-bg-img{
  height: 800px;
  background-image: url(../img/BackGroundHdImages/pexels-photo-2454095.jpeg);
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.profile-bg-img{
  height: 800px;
  background-image: url();
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.register-bg-img{
  height: 800px;
  background-image: url(../img/IPPageImages/pexels-edoardo-tommasini-3249760.jpg);
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.services-bg-img{
  height: 800px;
  background-image: url(../img/IPPageImages/pexels-fauxels-3184183.jpg);
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.webshop-bg-img{
  height: 800px;
  background-image: url(../img/IPPageImages/pexels-christian-fridell-3417441.jpg);
  background-position: center !important;
  background-repeat: no-repeat;
  background-size:cover;
}
.carousel-item{
  opacity: 0.2;
}
.text-backgroung-home{
  background-color: color-mix(in srgb-linear, grey 20%, gold 50%) !important;
  fill-opacity: initial;
  opacity: 0.8;
}
.font-style-hp{
  text-align: center;
  font-variant: small-caps;
  color: white !important; 
  text-shadow: 3px 3px black;
}
.font-style-welcome{
font-family: 'Brush Script MT', cursive;
text-align: center;
color: azure;
text-shadow: 2px 2px black;
} 
.font-style-ci{
font-family: 'Times New Roman', Times, serif;
font-style: normal;
color: darkgray;
text-shadow: 2px 2px black;
} 
.font-style-ci-border{
  border-style: groove;
  border-color: coral;
  border-width: 7px;
}
.p-e-t-colors-fonts{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-shadow: 4px 4px white;
  font-size: large; 
  font-weight: bolder bold;
  background-color: color-mix(in srgb-linear, grey 0%, gold 80%);
  opacity: 0.6;
}
.p-e-t-c-font{ 
  text-align: center;
  font-size: large; 
  font-weight: bolder bold;

}

