<div class="page-container">
	
	<div class="header-image-container" ng-include src="'./html/headerimage.html'"></div>

	<header class="sticky-top" ng-include src="'./html/navigate.html'"></header>

	<main>

		<!--background image-->
		<div class="register-bg-img"></div>

		<div class="container">
			<div class="row my-5 justify-content-center">

				<!-- Title -->
				<h4 class="text-center mb-4">
					<span><i class="fas fa-users"></i></span>
					<span class="ms-2">Regisztráció</span>
				</h4>

				<!-- Form -->
				<form class="col-11 col-md-11 col-lg-8 col-xl-7 col-xxl-6">

					<!-- First name -->
					<div class="row input-row mb-2">
						<label for="first-name" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">Vezetéknév</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="first-name" 
										type="text"
										placeholder="Vezetéknév"
										class="form-control form-control-sm"
										spellcheck="false" 
										autocomplete="off" 
										ng-model="model.firstName"
										ng-change="methods.changed()"
										required
										maxlength="100"
										ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Last name -->
					<div class="row input-row mb-2">
						<label for="last-name" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">Keresztnév</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="last-name" 
										type="text"
										placeholder="Keresztnév"
										class="form-control form-control-sm"
										spellcheck="false" 
										autocomplete="off" 
										ng-model="model.lastName"
										ng-change="methods.changed()"
										required
										maxlength="100"
										ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Dividing line -->
					<hr class="text-muted">

					<!-- Born -->
					<div class="row input-row mb-2">
						<label for="born" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<i class="fa-solid fa-calendar-days"></i>
							<span class="text-capitalize">született</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="born" type="date"
										class="form-control form-control-sm"
										spellcheck="false" 
										autocomplete="off"
										ng-model="model.born"
										ng-change="methods.changed()" 
										required
										ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Gender -->
					<fieldset class="row input-row mb-2">
						<legend class="col-form-label col-form-label-sm col-sm-4 pt-0 text-sm-end">
							<span class="text-capitalize">neme</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</legend>
						<div class="col-11 col-sm-7">
							<div class="form-check form-check-inline small">
								<input class="form-check-input" 
											type="radio"
											name="gender" 
											id="female" 
											value="F"
											required>
								<label class="form-check-label" for="female">nő</label>
							</div>
							<div class="form-check form-check-inline small">
								<input class="form-check-input" 
											type="radio" 
											name="gender" 
											id="male" 
											value="M">
								<label class="form-check-label" for="male">férfi</label>
							</div>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</fieldset>

					<!-- Address -->
					<div class="row input-row mb-2">
						<label for="address" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">cím</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<textarea id="address" 
												placeholder="cím"
												class="form-control form-control-sm"
												spellcheck="false" 
												autocomplete="off" 
												required>
							</textarea>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Phone -->
					<div class="row input-row mb-2">
						<label for="tel" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">telefon</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="tel" 
										type="tel"
										placeholder="telefon"
										class="form-control form-control-sm"
										spellcheck="false" 
										autocomplete="off" 
										required>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Dividing line -->
					<div class="row my-3 border-bottom"></div>

					<!-- Email -->
					<div class="row input-row mb-2">
						<label for="email" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">email</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="email" 
										type="email"
										placeholder="email"
										class="form-control form-control-sm"
										spellcheck="false" 
										autocomplete="off" 
										required
										maxlength="50">
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Email confirm -->
					<div class="row input-row mb-2">
						<label for="email2" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">email</span>
							<span>megerősítése</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="email2" 
										type="email"
										placeholder="email megerősítése"
										class="form-control form-control-sm"
										spellcheck="false" 
										autocomplete="off" 
										required
										maxlength="50">
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Password -->
					<div class="row input-row mb-0">
						<label for="password" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">jelszó</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="password" 
										type="password"
										placeholder="jelszó"
										class="form-control form-control-sm input-password"
										spellcheck="false" 
										autocomplete="off" 
										required
										maxlength="20">
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Password rule -->
					<div class="row mb-2">
						<div class="col-0 col-sm-4"></div>
						<div class="col-11 col-sm-7">
							<span class="fs-sm text-muted">
								6-20 karakter (kis-nagy betűt, és számot tartalmaz).
							</span>
						</div>
					</div>

					<!-- Password confirm -->
					<div class="row input-row mb-2">
						<label for="password2" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end">
							<span class="text-capitalize">jelszó</span>
							<span>megerősítése</span>
							<span class="fw-bold text-danger">*</span>
							<span>:</span>
						</label>
						<div class="col-11 col-sm-7">
							<input id="password2" 
										type="password"
										placeholder="jelszó megerősítése"
										class="form-control form-control-sm input-password"
										spellcheck="false" 
										autocomplete="off" 
										required
										maxlength="20">
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-conditional">
								&check;
							</span>
						</div>
					</div>

					<!-- Show/Hide password -->
					<div class="row mb-3">
						<div class="col-0 col-sm-4"></div>
						<div class="col-11 col-sm-7">
							<div class="form-check form-check-inline small">
								<input class="form-check-input" 
											type="checkbox"
											id="show-password">
								<label class="form-check-label" for="show-password">
									jelszót megjelenít
								</label>
							</div>
						</div>
					</div>

					<!-- Dividing line -->
					<div class="row my-3 border-bottom"></div>

					<!-- Buttons -->
					<div class="row mb-2">

						<!-- Accept -->
						<div class="col-6 px-1 text-end">
							<button id="accept"
											type="button" 
											class="btn btn-primary"
											disabled>
								Regisztráció
							</button>
						</div>

						<!-- Cancel -->
						<div class="col-6 px-1 text-start">
							<button type="button" 
											class="btn btn-secondary"
											onclick="cancel()">
								Mégsem
							</button>
						</div>
					</div>

					<!-- Login -->
					<div class="row mt-3">
						<div class="col-6 px-1 text-end">
							<a class="text-small-caps me-2" 
								ui-sref="login">
								Bejelentkezés
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<footer ng-include src="'./html/footer.html'"></footer>
	</div>