<!-- Navbar -->
<nav 
  class="navbar navbar-expand-md navbar-dark bg-dark sticky"
>
  <!-- container -->
  <div class="container-fluid">
    <!-- hamburger icon -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navBar"
      aria-controls="navBar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar container -->
    <div class="collapse navbar-collapse" id="navBar">
      <ul class="navbar-nav nav-underline ms-3 me-auto mb-2 mb-lg-0">
        
        <!-- Home -->
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            aria-current="page"
            ui-sref="home"
            ui-sref-active="active"
            >{{ 'home' | translate:lang.data}}</a
          >
        </li>

        <!-- Services -->
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            aria-current="page"
            ui-sref="services"
            ui-sref-active="active"
            >{{'services' | translate:lang.data}}</a
          >
        </li>

        <!-- Webshop -->
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            ui-sref="webshop"
            ui-sref-active="active"
            >{{'webshop' | translate:lang.data}}</a
          >
        </li>

        <!-- Contact -->
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            ui-sref="contact"
            ui-sref-active="active"
            >{{'contact' | translate:lang.data}}</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-1 mb-2 mb-lg-0 ms-md-2">
        <!-- Login -->
        <li class="nav-item nav-underline" ng-if="!user.id">
          <a
            id="login-button"
            class="nav-link text-capitalize"
            data-toggle="modal"
            data-target="#loginModal"
            ng-click="loginModal.show()"
          >
            <span class="fa-solid fa-right-to-bracket fa-lg me-2"></span>
            {{'login' | translate:lang.data}}
          </a>
        </li>

        <!-- Profile -->
        <li class="nav-item dropdown nav-underline" ng-if="user.id">
          <!-- User Dropdown -->
          <a
            id="userDropdown"
            class="nav-link dropdown-toggle text-capitalize"
            ng-class="{'disabled': state.id === 'user'}"
            ng-attr-aria-disabled="{state.id === 'user' }"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ui-sref="#"
            ui-sref-active="active"
          >
            <!-- Image -->
            <div
              class="bg-img bg-img-cover overflow-hidden rounded-circle d-inline-block float-start me-2"
              style="width: 32px; height: 32px"
              ng-style="{'background-image':user.img_type?'url(data:'+user.img_type+';base64,'+user.img+')':'url('+app.commonPath+'media/image/blank/'+(user.gender===2?'fe':'')+'male-blank.webp)'}"
              ng-show="user.img || user.gender"
            ></div>

            <div
              class="text-capitalize text-small-caps d-inline-block float-start"
            >
              {{'account' | translate:lang.data}}
            </div>
          </a>

          <!-- Dropdown menu -->
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <!-- User name/Nick name -->
            <li>
              <a class="dropdown-item disabled" href="#">
                <span
                  class="text-capitalize text-small-caps"
                  ng-if="user.nick_name"
                >
                  {{user.nick_name}}
                </span>
                <span
                  class="text-capitalize text-small-caps"
                  ng-repeat="k in lang.rule[lang.type]"
                  ng-if="!user.nick_name"
                >
                  {{user[k]}}
                </span>
              </a>
            </li>

            <!-- Profile -->
            <li>
              <a
                class="dropdown-item"
                ng-class="{'disabled': state.id === 'user'}"
                ui-sref="profile"
              >
                <i class="fa-solid fa-user fa-lg"></i>
                <span class="text-capitalize text-small-caps">
                  {{'profile' | translate:lang.data}}
                </span>
              </a>
            </li>

            <!-- Change email -->
            <li>
              <a
                class="dropdown-item"
                ng-class="{'disabled': state.id === 'user' }"
                ui-sref="profile"
              >
                <i class="fa-solid fa-envelope fa-lg"></i>
                <span class="text-capitalize text-small-caps">
                  {{'change_email' | translate:lang.data}}
                </span>
              </a>
            </li>

            <!-- Cheange password -->
            <li>
              <a
                class="dropdown-item"
                ng-class="{'disabled': state.id === 'user'}"
                ui-sref="profile"
              >
                <i class="fa-solid fa-key fa-lg"></i>
                <span class="text-capitalize text-small-caps">
                  {{'change_password' | translate:lang.data}}
                </span>
              </a>
            </li>

            <!-- Divider -->
            <li><hr class="dropdown-divider" /></li>

            <!-- Logout -->
            <li>
              <a
                class="dropdown-item"
                href="javascript:void(0)"
                ng-click="logout()"
              >
                <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                <span class="text-capitalize text-small-caps">
                  {{'logout' | translate:lang.data}}
                </span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Cart -->
        <li class="nav-item">
          <a class="nav-link" ui-sref="cart" ui-sref-active="active"
            ><span class="fas fa-cart-shopping"></span
          ></a>
        </li>

        <!-- Language -->
        <li class="nav-item dropdown ms-3 me-3">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              ng-src="{{'./media/image/'+lang.available[lang.index].img}}"
              width="40px"
              alt="flag"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li
              data-lang-id="en"
              data-lang-type="west"
              class="dropdown-item cursor-pointer"
              ng-class="{'d-none': lang.id === 'en'}"
              ng-click="changeLanguage($event)"
            >
              <img src="./media/image/uk_flag.png" width="40px" />
              <span data-lang="english" class="text-capitalize mx-2"></span>
              <span class="english-name">(english)</span>
            </li>
            <li
              data-lang-id="hu"
              data-lang-type="east"
              class="dropdown-item cursor-pointer"
              ng-class="{'d-none': lang.id === 'hu'}"
              ng-click="changeLanguage($event)"
            >
              <img src="./media/image/hun_flag.png" width="40px" />
              <span data-lang="hungarian" class="text-capitalize mx-2"></span>
              <span class="english-name">(magyar)</span>
            </li>
            <li
              data-lang-id="de"
              data-lang-type="east"
              class="dropdown-item cursor-pointer"
              ng-class="{'d-none': lang.id === 'de'}"
              ng-click="changeLanguage($event)"
            >
              <img src="./media/image/de_flag.png" width="40px" />
              <span data-lang="hungarian" class="text-capitalize mx-2"></span>
              <span class="english-name">(deutsch)</span>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Searcher -->
      <!-- <form class="d-flex me-4" role="search"> 
        <input
          class="form-control rounded-pill shadow-sm me-2"
          type="search"
          placeholder="{{'search' |
        translate:lang.data}}"
          aria-label="{{'search' | translate:lang.data}}"
        />
        <button class="btn btn-outline-success text-capitalize" type="submit">
          {{'search' | translate:lang.data}}
        </button>
      </form> -->

    </div>
  </div>
</nav>
