<div class="page-container">
  <div
    class="header-image-container"
    ng-include src="'./html/headerimage.html'">
  </div>

  <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>
  

  <main>
    <div class="container">
      <!-- Password change Form -->
      <div class="mt-3 p-4">

        <div>
          <div class="row my-3 justify-content-center">
            <!-- Title -->
            <h2 class="text-center mb-4">
              <span><i class="fas fa-users"></i></span>
              <span class="text-capitalize ms-2">
                {{'password' | translate:lang.data}}
              </span>
            </h2>             
          </div>

           <!-- Form -->
          <div class="row my-3 justify-content-center">
            <form class="col-11 col-md-11 col-lg-8 col-xl-7 col-xxl-6"
                  name="changePasswordForm">

              <!-- Old Password -->
              <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="oldPassword" class="col-form-label">
                        <span class="fw-bold text-danger">*</span>
                        <i class="fa-solid fa-envelope"></i>
                        <span class="text-capitalize me-2">
                          {{'password' | translate:lang.data}}:
                        </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-4">
                    <input id="oldPassword"
                          type="{{inputType}}"
                          ng-attr-placeholder="{{'password' | translate:lang.data}}"
                          class="form-control rounded-pill shadow-sm"
                          spellcheck="false"
                          autocomplete="off"
                          ng-model="values.oldPassword"
                          name="oldPassword"
                          ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                          ng-maxlength="20"
                          required>
                  </div>
                  <div class="col-2 pt-2 d-inline">
                  <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="changePasswordForm.oldPassword.$valid">
                      &check;
                  </span>
                  </div>
              </div>

              <!-- Password rule -->
              <div class="mb-2 col-12 text-center">
                <span class="fs-sm text-muted">
                  {{'password_rule' | translate:lang.data}}
                </span>
             </div>

              <!-- New Password -->
              <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-sm-9 col-lg-4 text-start text-lg-end">
                    
                    <label for="newPassword" class="col-form-label">
                        <span class="fw-bold text-danger">*</span>
                        <i class="fa-solid fa-envelope"></i>
                        <span class="me-2">
                        {{'password_new' | translate:lang.data}}:
                        </span>
                    </label>
                  </div>
                  <div class="col-6 col-sm-7 col-lg-4 ms-sm-5 ps-ms-5 ps-lg-0 ms-lg-0">
                    <input id="newPassword"
                           type="{{inputType}}"
                           ng-attr-placeholder="{{'password_new' | translate:lang.data}}"
                           class="form-control rounded-pill shadow-sm"
                           spellcheck="false"
                           autocomplete="off"
                           ng-model="values.newPassword"
                           name="newPassword"
                           ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                           ng-maxlength="20"
                           required>
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span class="check-mark ms-2 fw-bold text-success"
                          ng-show="changePasswordForm.newPassword.$valid">
                      &check;
                    </span>
                  </div>
              </div>

              <!--New password Confirm -->
              <div class="input-group mb-2 justify-content-center">
                <div class="col-8 col-sm-9 col-lg-4 text-start text-lg-end">
                    
                  <label for="newPasswordConfirm" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <i class="fa-solid fa-envelope"></i>
                      <span class="text-capitalize">
                        {{'password_new' | translate:lang.data}}
                      </span>
                      <span class="me-2">
                        {{'confirmation' | translate:lang.data}}:
                      </span>
                  </label>
                </div>
                <div class="col-6 col-sm-7 col-lg-4 ms-sm-5 ps-ms-5 ps-lg-0 ms-lg-0">
                  <input id="newPasswordConfirm"
                         type="{{inputType}}"
                         ng-attr-placeholder="{{'password_new' | translate:lang.data  + 
                                              ' ' + 'confirmation' | translate:lang.data }}"
                         class="form-control rounded-pill shadow-sm"
                         spellcheck="false"
                         autocomplete="off"
                         ng-model="values.newPasswordConfirm"
                         name="newPasswordConfirm"
                         ng-change="validatePasswordConfirm()"
                         ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                         ng-maxlength="20"
                         required>
                </div>
                <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                  <span class="check-mark ms-2 fw-bold text-success"
                        ng-show="changePasswordForm.newPasswordConfirm.$valid">
                    &check;
                  </span>
                </div>

                <!--Show/Hide password -->
                <div class="col-12 mb-3 text-center">
                  <div class="form-check form-check-inline small">
                    <input class="form-check-input"
                          type="checkbox"
                          id="show-reg-password"
                          ng-model="showHidePassword"
                          ng-click="showHide()">
                    <label class="form-check-label" for="show-password">
                      {{'display_password' | translate:lang.data}}
                    </label>
                  </div>
                </div>

              </div>
            </form>
        </div>

            <!-- Dividing line -->
            <hr class="text-muted" />

            <!-- buttons -->
            <div class="row my-3 justify-content-center">

              <!--Save -->
              <button id="accept"
                      type="button"
                      class="btn btn-primary text-capitalize w-auto me-2"
                      ng-click="accept()"
                      ng-disabled="changeEmailForm.$invalid">
                {{'save' | translate:lang.data}}
              </button>

              <!-- Cancel -->
              <button type="button"
                      class="btn btn-secondary text-capitalize w-auto "
                      ng-click="cancel()">
                {{'cancel' | translate:lang.data}}
              </button>              
            </div> 
      </div>
    </div>
  </main>

  <!-- Footer Section -->
  <footer ng-include src="'./html/footer.html'"></footer>
</div>
