<div class="page-container">
    <div
      class="header-image-container"
      ng-include
      src="'./html/headerimage.html'"
    ></div>
  
    <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>
    
  
    
    <main>
      <div class="container"
           ng-if="user.id">
        <!-- Profile Page navigation tab -->
        <div class="d-flex align-items-start mt-3 p-4">

            <!-- Profile Tab -->
            <div
              class="tab-pane fade show active"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
                >
              <div class="row my-3 justify-content-center">
                <!-- Title -->
                <h2 class="text-center mb-4">
                  <span><i class="fas fa-users"></i></span>
                  <span class="text-capitalize ms-2">
                    {{'password' | translate:lang.data}}
                  </span>
                </h2>             
              </div>
               <!-- Form -->
               <!-- changePassword Form !! -->
              <div class="row my-3 justify-content-center">
                <form
                  ng-if="user.id"
                  class="col-11 col-md-11 col-lg-8 col-xl-7 col-xxl-6"
                  name="changePasswordForm"
                >
  
          <!-- Password -->
          <div class="input-group mb-2 justify-content-center">
            <div class="col-8 col-sm-4 text-start text-sm-end">
              <!-- changed_password label,id -->
              <label for="changed_password" class="col-form-label">
                <span class="fw-bold text-danger">*</span>
                <i class="fa-solid fa-key"></i>
                <span class="text-capitalize me-1">
                  {{'password' | translate:lang.data}}:
                </span>
              </label>
            </div>
            <div class="col-6 col-sm-7 col-lg-4">
              <input
                id="changed_password"
                type="{{inputType}}"
                class="form-control rounded-pill shadow-sm"
                ng-attr-placeholder="{{'password' | translate:lang.data}}"
                spellcheck="false"
                autocomplete="off"
                ng-model="values.password"
                name="password"
                ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                ng-maxlength="20"
                required
              />
            </div>
            <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
              <span
                class="check-mark ms-2 fw-bold text-success"
                ng-show="changePasswordForm.password.$valid"
              >
                &check;
              </span>
            </div>
          </div>

          <!-- Password rule -->
          <div class="mb-2 col-12 text-center">
            <span class="fs-sm text-muted">
              {{'password_rule' | translate:lang.data}}
            </span>
          </div>

          <!-- Password confirm-->
          <div class="input-group mb-2 justify-content-center">
            <div class="col-8 col-sm-9 col-lg-4 text-start text-lg-end">
              <label for="changed_password_confirm" class="col-form-label">
                <span class="fw-bold text-danger">*</span>
                <i class="fa-solid fa-key"></i>
                <span class="text-capitalize">
                  {{'password' | translate:lang.data}}
                </span>
                <span class="me-2"
                  >{{'confirmation' | translate:lang.data}}:</span
                >
              </label>
            </div>
            <div
              class="col-6 col-sm-7 col-lg-4 ms-sm-5 ps-sm-5 ps-lg-0 ms-lg-0"
            >
            <!-- changePassword Form !! -->
            <!-- changed_password label,id -->
              <input
                id="changed_password_confirm"
                type="{{inputType}}"
                class="form-control rounded-pill shadow-sm"
                ng-attr-placeholder="{{'password' | translate:lang.data  + ' ' + 'confirmation' | translate:lang.data }}"
                spellcheck="false"
                autocomplete="off"
                ng-model="values.passwordConfirm"
                ng-change="validatePasswordConfirm()"
                ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
                name="passwordConfirm"
                ng-maxlength="20"
                required
              />
            </div>
            <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
              <span
                class="check-mark ms-2 fw-bold text-success"
                ng-show="changePasswordForm.passwordConfirm.$valid"
              >
                &check;
              </span>
            </div>
          </div>

          <!-- Show/Hide password -->
          <div class="mb-3 text-center">
            <div class="form-check form-check-inline small">
              <!-- changed-password id -->
              <input
                class="form-check-input"
                type="checkbox"
                id="show-changed-password"
                ng-model="showHidePassword"
                ng-click="showHide()"
              />
              <label class="form-check-label" for="show-password">
                {{'display_password' | translate:lang.data}}
              </label>
            </div>
          </div>

                  <!-- Dividing line -->
                  <hr class="text-muted" />
                </form>
              </div>
  
              <!-- buttons -->
              <div class="row my-3 justify-content-center">
  
                <!--Save -->
                <button
                  id="accept"
                  type="button"
                  ng-show="!helper.isEdit"
                  class="btn btn-primary text-capitalize w-auto me-2"
                  ng-click="accept()"
                  ng-disabled="registerForm.$invalid"
                >
                  {{'save' | translate:lang.data}}
                </button>
  
                <!-- Cancel -->
                <button
                  type="button"
                  ng-show="!helper.isEdit"
                  class="btn btn-secondary text-capitalize w-auto "
                  ng-click="cancel()"
                >
                  {{'cancel' | translate:lang.data}}
                </button>              
                
                <!--Edit -->
                <button
                  id="accept"
                  type="button"
                  ng-show="helper.isEdit"
                  class="btn btn-primary text-capitalize w-auto"
                  ng-click="helper.isEdit=false"
                  ng-disabled="registerForm.$invalid"
                >
                  {{'edit' | translate:lang.data}}
                </button>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
    </main>
  
    <footer ng-include src="'./html/footer.html'"></footer>
  </div>
  