<div class="page-container">
  <div
    class="header-image-container"
    ng-include
    src="'./html/headerimage.html'"
  ></div>

  <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>
  

  <main>
    <div class="container">
      <!-- Profile Page navigation tab -->
      <div class="d-flex align-items-start mt-3 p-4">

        <!-- Navigaation buttons -->
        <div
          class="nav flex-column nav-pills me-3"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <!-- Profile button -->
          <button
            class="nav-link active text-capitalize border-bottom"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="true"
          >
            {{'profile' | translate:lang.data}}
          </button>

          <!-- Reservations button -->
          <button
            class="nav-link letter-capitalize border-bottom"
            id="v-pills-reservations-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-reservations"
            type="button"
            role="tab"
            aria-controls="v-pills-reservations"
            aria-selected="false"
          >
            {{'reservations' | translate:lang.data}}
          </button>

          <!-- Orders button -->
          <button
            class="nav-link text-capitalize border-bottom"
            id="v-pills-orders-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-orders"
            type="button"
            role="tab"
            aria-controls="v-pills-orders"
            aria-selected="false"
          >
            {{'orders' | translate:lang.data}}
          </button>
        </div>

        <!-- tab content -->
        <div class="tab-content w-100" id="v-pills-tabContent">

          <!-- Profile Tab -->
          <div
            class="tab-pane fade show active"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="row my-3 justify-content-center">
              <!-- Title -->
              <h2 class="text-center mb-4">
                <span><i class="fas fa-users"></i></span>
                <span class="text-capitalize ms-2">
                  {{'profile' | translate:lang.data}}
                </span>
              </h2>             
            </div>
             <!-- Form -->
            <div class="row my-3 justify-content-center">
              <form
                class="col-11 col-md-11 col-lg-8 col-xl-7 col-xxl-6"
                name="profileForm"
              >
                <!-- User Name -->
                <!-- LasttName -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="last_name" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <i class="fa-solid fa-user fa-xl"></i>
                      <span class="text-capitalize me-2">
                        {{'last_name' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <input
                      id="last_name"
                      type="text"
                      class="form-control rounded-pill shadow-sm"
                      spellcheck="false"
                      autocomplete="off"
                      ng-model="values.lastName"
                      ng-maxlength="60"
                      name="lastName"
                      ng-disabled="helper.isEdit"
                      required
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.lastName.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- FirstName -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="first_name" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <span class="text-capitalize me-2">
                        {{'first_name' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <input
                      id="first_name"
                      type="text"                      
                      class="form-control rounded-pill shadow-sm"
                      spellcheck="false"
                      autocomplete="off"
                      ng-model="values.firstName"
                      ng-maxlength="60"
                      name="firstName"
                      ng-disabled="helper.isEdit"
                      required
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.firstName.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- Dividing line -->
                <hr class="text-muted" />

                <!-- image -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="avatar" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <span class="text-capitalize me-2">
                        {{'profile' | translate:lang.data}} {{'image' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4 position-relative" style="height:100px;">
                    <input
                      id="avatar"
                      type="file"
                      accept="image/*"
                      class="form-control d-none"
                      file-model="newImage"
                      ng-disabled="helper.isEdit"
                    />
                    <label for="avatar">
                      <div class="bg-img bg-img-cover overflow-hidden rounded-circle border 
                                  d-flex align-items-center justify-content-center"
                            ng-class="{'cursor-pointer': !helper.isEdit}" 
                             style="width:100px;min-width:100px;height:100px;"
                            ng-style="{'background-image': values.newImage || helper.image}">
                        <span class="text-center text-muted"
                              ng-show="!values.img && !values.gender">
                          <i class="fa-solid fa-upload"></i><br>
                          <span class="fs-sm">Max: 64KB</span>
                        </span>							
                      </div>
                    </label>
                  </div>
                </div>

                <!-- Dividing line -->
                <hr class="text-muted" />

                <!-- Born -->
                <div class="input-group justify-content-center mb-2">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="born" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <i class="fa-solid fa-calendar-days"></i>
                      <span class="ms-1 text-capitalize me-2">
                        {{'born' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <input
                      id="born"
                      type="date"
                      class="form-control rounded-pill shadow-sm"
                      spellcheck="false"
                      autocomplete="off"
                      min="{{helper.minBorn}}"
                      max="{{helper.maxBorn}}"
                      ng-model="values.dateOfBirth"
                      name="dateOfBirth"
                      ng-disabled="helper.isEdit"
                      required
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.dateOfBirth.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- Gender -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="gender" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <span class="text-capitalize me-2">
                        {{'gender' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <input
                      id="gender"
                      type="text"                      
                      class="form-control rounded-pill shadow-sm"
                      spellcheck="false"
                      autocomplete="off"
                      placeholder="{{ values.gender | translate:lang.data}}"
                      ng-maxlength="60"
                      name="gender"
                      disabled
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.gender.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- Dividing line -->
                <hr class="text-muted" />

                <!-- Country -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="country" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <i class="fa-solid fa-flag"></i>
                      <span class="text-capitalize me-2">
                        {{'country' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <select
                      id="country"
                      class="form-select text-capitalize pe-4 rounded-pill shadow-sm"
                      ng-model="values.country"
                      ng-change="handleCountryChange(values.country)"
                      ng-options="x.country for x in helper.countries"
                      name="country"
                      ng-disabled="helper.isEdit"
                      required
                    ></select>
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.country.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- Phone -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-5 text-start text-md-end">
                    <label for="phone" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <i class="fa-solid fa-mobile-screen"></i>
                      <span class="text-capitalize me-2">
                        {{'phone' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-8 col-md-5 d-flex">
                    <span class="pt-2">+</span>
                    <select
                      id="country_code"
                      class="form-select ms-1 d-inline rounded-pill shadow-sm"
                      style="width: 67px"
                      ng-model="values.country_code"
                      name="countryCode"
                      ng-options="code for code in values.country.code"
                      ng-disabled="!values.country || helper.isEdit"
                      required
                    ></select>
                    <input
                      id="phone"
                      type="tel"
                      style="width: 120px"
                      ng-attr-placeholder="{{'phone' | translate:lang.data}}"
                      class="form-control rounded-pill shadow-sm d-inline"
                      spellcheck="false"
                      autocomplete="off"
                      ng-model="values.phone"
                      ng-pattern="/^[0-9]{7,14}$/"
                      name="phone"
                      ng-disabled="helper.isEdit"
                      required
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.phone.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- City -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="city" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <span class="text-capitalize me-2">
                        {{'city' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <input
                      id="city"
                      type="text"
                      ng-attr-placeholder="{{'city' | translate:lang.data}}"
                      class="form-control rounded-pill shadow-sm"
                      spellcheck="false"
                      autocomplete="off"
                      ng-model="values.city"
                      name="city"
                      ng-disabled="helper.isEdit"
                      required
                      ng-maxlength="100"
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.city.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- Post code-->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="postcode" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <i class="fa-solid fa-list-ol"></i>
                      <span class="text-capitalize me-2">
                        {{'postcode' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <input
                      id="postcode"
                      type="text"
                      ng-attr-placeholder="{{'postcode' | translate:lang.data}}"
                      class="form-control rounded-pill shadow-sm"
                      style="max-width: 170px"
                      spellcheck="false"
                      autocomplete="off"
                      ng-model="values.postcode"
                      name="postcode"
                      ng-maxlength="10"
                      ng-disabled="helper.isEdit"
                      required
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.postcode.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- Address -->
                <div class="input-group mb-2 justify-content-center">
                  <div class="col-8 col-md-4 text-start text-md-end">
                    <label for="address" class="col-form-label">
                      <span class="fw-bold text-danger">*</span>
                      <i class="fa-solid fa-location-dot"></i>
                      <span class="text-capitalize me-2">
                        {{'address' | translate:lang.data}}:
                      </span>
                    </label>
                  </div>
                  <div class="col-6 col-md-7 col-lg-4">
                    <input
                      id="address"
                      type="text"
                      ng-attr-placeholder="{{'address' | translate:lang.data}}"
                      class="form-control rounded-pill shadow-sm"
                      spellcheck="false"
                      autocomplete="off"
                      ng-model="values.address"
                      name="address"
                      ng-maxlength="200"
                      ng-disabled="helper.isEdit"
                      required
                    />
                  </div>
                  <div class="col-2 col-sm-1 col-lg-2 pt-2 d-inline">
                    <span
                      class="check-mark ms-2 fw-bold text-success"
                      ng-show="profileForm.address.$valid && !helper.isEdit"
                    >
                      &check;
                    </span>
                  </div>
                </div>

                <!-- Dividing line -->
                <hr class="text-muted" />
              </form>
            </div>

            <!-- buttons -->
            <div class="row my-3 justify-content-center">

              <!--Save -->
              <button
                id="accept"
                type="button"
                ng-show="!helper.isEdit"
                class="btn btn-primary text-capitalize w-auto me-2"
                ng-click="accept()"
                ng-disabled="registerForm.$invalid"
              >
                {{'save' | translate:lang.data}}
              </button>

              <!-- Cancel -->
              <button
                type="button"
                ng-show="!helper.isEdit"
                class="btn btn-secondary text-capitalize w-auto "
                ng-click="cancel()"
              >
                {{'cancel' | translate:lang.data}}
              </button>              
              
              <!--Edit -->
              <button
                id="accept"
                type="button"
                ng-show="helper.isEdit"
                class="btn btn-primary text-capitalize w-auto"
                ng-click="helper.isEdit=false"
                ng-disabled="registerForm.$invalid"
              >
                {{'edit' | translate:lang.data}}
              </button>
            </div>

          </div>

          <!-- Reservation Tab  -->
          <div
            class="tab-pane fade"
            id="v-pills-reservations"
            role="tabpanel"
            aria-labelledby="v-pills-reservation-tab"
          >
            <h2 class="text-center text-capitalize mt-2 mb-4">{{'reservations' | translate:lang.data}}</h2>

            <table class="table table-striped px-5 text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="text-capitalize">{{'event' | translate:lang.data}}</th>
                  <th scope="col" class="text-capitalize">{{'event_place' | translate:lang.data}}</th>
                  <th scope="col" class="letter-capitalize">{{'event_menu' | translate:lang.data}}</th>
                  <th scope="col" class="letter-capitalize">{{'drink_package' | translate:lang.data}}</th>
                  <th scope="col" class="letter-capitalize">{{'number_of_guests' | translate:lang.data}}</th>
                  <th scope="col" class="text-capitalize">{{'date' | translate:lang.data}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="reservation in reservations track by $index">
                  <th scope="row">{{$index+1}}</th>
                  <td>{{reservation.event_type | translate:lang.data}}</td>
                  <td>{{reservation.event_place | translate:lang.data}}</td>
                  <td>{{reservation.menu_package | translate:lang.data}}</td>
                  <td>{{reservation.drink_package | translate:lang.data}}</td>
                  <td>{{reservation.guests}}</td>
                  <td>{{reservation.date}}</td>
                </tr>
              </tbody>
            </table>

          </div>

          <!-- Orders Tab -->
          <div
            class="tab-pane fade"
            id="v-pills-orders"
            role="tabpanel"
            aria-labelledby="v-pills-orders-tab"
          >
          <h2 class="text-center text-capitalize mt-2 mb-4">{{'orders' | translate:lang.data}}</h2>

          <table class="table table-striped px-5 text-center">
            <thead>
              <tr>
                <th scope="col">{{'order_number' | translate:lang.data}}</th>
                <th scope="col" class="letter-capitalize">{{'product_name' | translate:lang.data}}</th>
                <th scope="col" class="text-capitalize">db</th>
                <th scope="col" class="letter-capitalize">{{'price' | translate:lang.data}}</th>
                <th scope="col" class="letter-capitalize">{{'date' | translate:lang.data}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in orders track by $index">                  
                <td>{{order.date}}/{{order.order_id}}</td>
                <td>{{order.product_name | translate:lang.data}}</td>
                <td>x {{order.quantity}}</td>
                <td>{{order.price}} Ft</td>
                <td>{{order.order_date}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer ng-include src="'./html/footer.html'"></footer>
</div>
